
db_name     = go-mongo
db_username = root
db_password = 
db_host     = 127.0.0.1
db_port     = 3306
db_type     = mysql

host        = localhost
port        = 27017 

jwt_secret = asdkkjUUy89ss65sWWn
